<h1>Let's add a new restaurant</h1>

<form action="/restaurants/create" method="post">
  <label for="">Enter a name</label>
  <input type="text" name="restaurant_name">

  <label for="">Enter a description</label>
  <input type="text" name="restaurant_description">

  <input type="submit" value="Go for it">
</form>
